<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grupoa.desafio.mapper.InstitutionMapper">

    <resultMap id="mapInstitution" type="com.grupoa.desafio.model.Institution">
        <result column="institution_id" property="id"/>
        <result column="institution_description" property="description"/>
        <result column="institution_active" property="active"/>
    </resultMap>

    <sql id="cols_institution">
        institution.id as institution_id,
        institution.description as institution_description,
        institution.active as institution_active
    </sql>

    <select id="getAllInstitutions" resultMap="mapInstitution">
        select
            <include refid="cols_institution"/>
        from base.institution institution
        where institution.active = true
    </select>

</mapper>